<!DOCTYPE html>
<html>

    <head>
        {% block head %}{% endblock head %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="https://bit.ly/3hfF2tG" type="image/x-icon">
        <title>Launchstore - Compra e Venda</title>
    </head>

    <body>
        {% include "partials/header.njk" %}

        {% block content %}{% endblock %}

        {% include "partials/footer.njk" %}
    </body>

</html>